<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    
 <h1>Contact Us</h1>   
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.  <mark>Perspiciatis est deleniti fugiat labore placeat laudantium,</mark> sequi totam corporis quisquam? Voluptates repellendus sint, nulla tempora quaerat distinctio. Aut excepturi vel reprehenderit?
Maxime corrupti distinctio, laboriosam saepe at, maiores cumque asperiores consectetur deleniti perspiciatis nisi error repellat incidunt tenetur fugit. Et odit impedit, numquam doloremque sed ratione eligendi eius necessitatibus amet adipisci?
Dicta ipsam voluptates laborum cum fugit nihil sequi, laudantium nobis. Odit ex velit numquam aut optio esse consequatur animi necessitatibus. Minus porro soluta tenetur fugit asperiores necessitatibus, suscipit officiis ullam.</p>

</body>
</html>