<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Page</title>
    

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

</head>
<body>
  <h1>Gallery Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <mark>Aspernatur, facere.</mark>  Dolores architecto quas voluptas, atque libero excepturi, modi, voluptate ratione totam reiciendis repudiandae magnam doloribus nam iure. Deserunt, rerum recusandae!
  Similique ducimus nulla consectetur libero alias eligendi odio totam fugiat temporibus sequi iste quia iure quod, pariatur, unde eius, quisquam earum odit eaque dolor repudiandae. Ut placeat nesciunt fugiat minus.
  Doloribus explicabo rem voluptas mollitia voluptatem, est odit corrupti sequi ratione deserunt nulla totam. Qui, maxime repellendus voluptatum et quisquam cumque, quidem dolorum obcaecati atque unde recusandae odio similique repudiandae?</p>
  

  <img src="{%   static 'images/prod.jpeg' %}" alt="">
  <img src="{%   static 'images/prod2.jpeg' %}" alt="">
  <img src="{%   static 'images/prod3.jpeg' %}" alt="">
  <img src="{%   static 'images/prod4.jpeg' %}" alt="">
  <img src="{%   static 'images/prod5.jpeg' %}" alt="">
  <img src="{%   static 'images/prod6.jpeg' %}" alt="">
  <img src="{%   static 'images/prod7.jpeg' %}" alt="">
  <img src="{%   static 'images/prod8.jpeg' %}" alt="">


</body>
</html>