<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page -MtaaniStore</title>
     {% load static%}

     <style>body{
        background-color: rgba(192, 11, 11, 0.692);
        margin-left: 50px;
       }

    </style>

</head>
<body>
    <h1>Our Premium Products</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae officiis dolores officia reprehenderit qui dolore, nihil sunt, omnis reiciendis, eaque optio commodi praesentium ipsa magni aspernatur quidem asperiores veniam iure.
    Laborum harum assumenda soluta sapiente vero? Rerum omnis ea, neque voluptate hic necessitatibus reiciendis unde consectetur molestias a iure illo reprehenderit corrupti magnam culpa atque pariatur fugiat? Hic, consequuntur illum!</p>
        <br><br>

        <h2>Computer Primary Components</h2>
        

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, officia! Hic minima officiis eum velit dolores officia? Rem, deleniti id mollitia ut molestiae similique unde eius eligendi provident fugiat cum!
            Ut aliquam assumenda quibusdam sit voluptatibus quasi praesentium explicabo deleniti possimus accusantium voluptate eaque fugit saepe, autem omnis consequuntur iste debitis, sed eum qui ipsa totam. Pariatur labore quo voluptatum!</p>

<ul style="list-style: decimal;">
    <li>Input Device


        <ul style="list-style: lower-latin;">
            <li>Direct Input</li>
            <ul style="list-style: square;"><li>Scanner</li> 
                <img src="{%   static 'images/prodo.jpeg' %}" alt="">
                <br>
            </ul>
            
            

            <li>Indirect Input</li>
            <ul style="list-style: square;">
                <li>Keyboard</li>
                <li>Mouse</li> </ul>
                <img src="{%   static 'images/prod2.jpeg' %}" alt="">
            
        </ul>
    </li>
   
    <li>Output Device


        <ul style="list-style: lower-latin;">
            <li>Monitor</li>
            <ul style="list-style: square;">
                <li>CRT Monitor</li>
                <li>LCD Monitor</li>
                <br>
                <img src="{%   static 'images/prod3.jpeg' %}" alt="">
             </ul>

            <li>Speaker</li>
            
            
        </ul></li>
    <li>Processing Device


        <ul style="list-style: lower-latin;">
            <li>ALU</li>
            <ul style="list-style: square;">
                <li> Arithemetic Unit</li>
                <li>Logic Unit </li>
                <img src="{%   static 'images/prodo4.jpeg' %}" alt="">
                <br>
             </ul>

            <li>CU</li>
            <img src="{%   static 'images/prodo5.jpeg' %}" alt="">
            
            
        </ul>
    </li>
    <li>Storage Device
        <ul style="list-style: lower-latin;">
            <li>Primary Storage
                <ul style="list-style: square;">
                <li> RAM 
                    <ul style="list-style: upper-roman;">
                <li> SRAM</li>
                <li> DRAM </li>
                <img src="{%   static 'images/prodo6.jpeg' %}" alt="">
                </li>
                
                <br>
            </li>
    </li> 

</ul>


</body>
</html>